<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All">
    <listeners>
        <listener class-name="Reporting.Setup"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/ssethrabalan/IdeaProjects/API_AUTOMATION_FRAMEWORK/src/test/java">
        <classes>
            <class name="Aptowd_Filesync_API.Filesync_API_TCs"/>
            <class name="GCP_Salesforce_Address_API.GCP_SF_Address_TCs"/>
            <class name="Billing_Inquiry_Oasis_API.Billing_Inquiry_Oasis_TCs"/>
            <class name="Billing_Inquiry_Point_API.Billing_Inquiry_Point_TCs"/>
            <class name="GCP_Salesforce_Policy_API.GCP_SF_Policy_TCs"/>
            <class name="GCP_Salesforce_User_API.GCP_SF_User_TCs"/>
        </classes>
    </test>
</suite>